# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.aps
DiscordRichPresence/Debug/*
DiscordRichPresence/Release/*
.vs/*
*.ilk
Debug/*
Release/*
*.vcxproj.user
Distribute/

*.zip
DiscordRichPresence_GameSDK/.vs/DiscordRichPresence_GameSDK/v16/*
DiscordRichPresence_GameSDK/Debug/*
*.tlog
DiscordRichPresence_GameSDK/.vs/*
DiscordRuntime/*
